body {
  background-color: #eaf4ff;
}

/*fonts*/

@font-face {
  font-family: RobotoR;
  src: url(fonts/RobotoR.ttf);
}

@font-face {
  font-family: RobotoM;
  src: url(fonts/RobotoM.ttf);
}

@font-face {
  font-family: RobotoL;
  src: url(fonts/RobotoL.ttf);
}

/*fonts*/

h3 {
  font-size: 16px;
  color: #5c6b8e;
}

h2 {
  font-size: 20px;
  font-family: RobotoM;
}

/*components*/

ul > li {
  padding: 12px 40px 0px 0px;
  font-family: RobotoR;
}

.nav > li > a {
  display: inline;
}

select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: center;
}

p {
  font-size: 14px;
  font-family: RobotoL;
}


.settings-block a  {
  font-family: RobotoL;
}

.modal-body > h5 {
  text-align: center;
}

h5 {
  font-family: RobotoR;
  font-size: 14px;
}

input, button, select, textarea {
  font-family: RobotoR;
}

.input_sm input {
  padding: 4px 0px;
}

.input_sm select {
  width: 161px;
}

.input_lg input {
  padding: 4px 83px;
}

.table input {
  background-color: #f5f9fe;
  border: none;
  text-align: left;
  padding: 4px 0px;
  width: 40px;
}

input, select, textarea {
  border-radius: 4px;
  border: 1px solid #d6dae3;
  text-align: center;
  padding: 4px 0px;
}

.settings-block > .tb {
  background-color: white;
  color: #3a80d2;
}

.form-control {
  width: 80%;
  margin: 0 auto;
}

 #h_reg input {
  padding: 6px 34px;
  margin-top: 8px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

select {
  height: 30px;
  width: 172px;
}

.notf {
  font-size: 360px;
  text-align: center;
  color: #bdc3c7;
}

.not_f {
  width: 360px;
}

.btn > img {
  width: 14px;
}


.button {
  border-radius: 4px;
  background-color: #3a80d2;
  color: white;
  padding: 8px 16px;
}

.dropdown-menu {
  position: relative;
  float: initial;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 0;
}

.ticket_ok {
  font-size: 12px;
  font-family: RobotoL;
}

.dropdown-menu > li {
  padding: 0px;
}

.li-button {
  margin-top: 5px;
}

.edit-button {
  border-radius: 30px;
  border: none;
}

.delete-button {
  border-radius: 30px;
  border: none;
}

.delete-button, .edit-button:active {
  border: none;
}
/* components */


.auto, .help {
  background-color: #f5f9fe;
}

.settings {
  background-color: white;
}

.settings-block {
  padding: 12px 0px 4px 0px;
}

.md select {
  margin-top: 12px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/*checkbox*/

.kpp {
  margin: 38px 0px 34px 0px;
}

label {
  border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 22px;
	font-size: 14px;
}

label:before {
  border-radius: 4px;
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 8px 0px 2px 0px;
	position: absolute;
	left: 0;
  content: " ";
	bottom: 1px;
	background-color: #3a80d2;
}

input[type=checkbox] {
	display: none;
  border-radius: 4px;
}

.checkbox label:before {
	border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
	content: "+";
	font-size: 14px;
	color: white;
	text-align: center;
  line-height: 15px;
  font-weight: bold;
}

/*checkbox*/

.s-button {
  border: none;
  padding: 10px 60px;
  margin: 20px 0px 20px 65px;
}

/*card*/

.auto > .card {
  background-color: white;
  border-radius: 4px;
  margin: 14px 0px;
}

.card img {
  width: 214px;
}

.auto-prev img {
  width: 380px;
}

.auto-inf {
  margin-top: 26px;
}

.auto-inf li {
  list-style: none;
  padding: 2px;
  font-size: 16px;
}

.crd {
  background-color: white;
  margin-top: 14px;
  padding-bottom: 12px;
  border-radius: 2px;
  box-shadow: 2px 3px 36px -21px rgba(0,0,0,0.52);
}

.settings-block > .sorting a, .filter a {
  display: block;
  text-align: left;
  width: 60%;
  margin: 12px auto;
  font-family: RobotoR;
}

.filter img {
  width: 30px;
  border-radius: 50%;
    background-color: #3a80d2;
    width: 30px;
    padding: 5px;
}

.settings-block span {
  font-size: 11px;
  padding-right: 8px;
}

input {
  padding: 4px 34px;
}


.modded textarea {
  width: 328px;
  height: 80px;
  resize: none;
}

.error {
  text-align: center;
  padding: 6px 0px;
  color: white;
  background-color: #3a80d2;
  margin-top: 13px;
}

.gr-a {
  background-color: #3a80d2;
  padding: 8px;
}

.gr-a a {
  margin: 15px 0px;
  border-radius: 5px;
  padding: 5px;
  color: white
}

.modded textarea , .modded input, .modded select {
  margin-top: 8px;
}

.settings-block a:hover {
  text-decoration: none;
}

.discr {
  margin-top: 12px;
}

.card-info li {
  list-style: none;
  padding: 0px;
  color: #b9becb;
}

.cost {
  text-align: right;
}

.gray {
  font-size: 12px;
  color: #b9becb;
}

.reg-img {
  width: 60px;
  background-color: #3a80d2;
  border-radius: 60px;
  padding: 8px;
}

.bgc {
  background: url(../image/root/bgc.png) no-repeat;
  padding: 10px;
}

.c-button {
  border: none;
  margin-top: 96px;
}

button > a {
  color: white;
  text-decoration: none;
}

/*card*/

/*cars*/

.auto-head {
  background-color: white;
}

.gr {
  background-color: #f5f9fe;
}

.p-mb {
  color: #999;
  font-size: 12px;
  text-align: center;
}


.year {
  font-size: 20px;
  color: #b9becb;
}

.dops > li  {
  padding: 0px;
}

ul.dops {
  list-style: none;
  padding-left: 0px;
}
.dops li {
  padding-left: 1.3em;
}
.dops li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  color: #3a80d2;
  font-size: 12px;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.list > img {
  width: 20px;
}

.list li {

}

.a-button {
  border: none;
  padding: 8px 46px;
}

.img-responsive {
  margin: 14px auto;
}

.mt {
  margin-top: 20px;
}

.c-h2 {
  margin-top: 36px;
}

.m-button {
  border: none;
  padding: 8px 52px;
}

.r-button, .l-button {
  border: none;
  padding: 6px 72px;
  margin-top: 10px;
}

.l-button {
  padding: 6px 93px;
}

.log-error {
  margin: 12px 30px;
  background-color: rgba(210, 58, 58, 0.2);
  padding: 6px 0px;
  border-radius: 4px;
  font-family: RobotoL;
  font-size: 16px;
}

.modal-body input {
  padding: 8px 48px;
  margin-top: 12px;
}

input[type="file"] {
  background-color: white;
  border: 1px solid #3a80d2;
  border-style: dashed;
}

.acceptFile {
  width: 328px;
}
